<%= form_tag hills_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Look for hills over x metres"
  %>
  <%= submit_tag "Search", class: "btn btn-primary mt-2 mb-2" %>
<% end %>

<div class="mb-3" style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<ul>
<% @hills.each do |hill| %>
  <li><%= "#{hill.name} [#{hill.latitude}, #{hill.longitude}]" %></li>
<% end %>
</ul>

<div class="modal fade" id="climbModal" tabindex="-1" role="dialog" data-controller="open-counter">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <% @climb = Climb.new %>
        <% @hill = Hill.last %>
        <%= simple_form_for [@hill, @climb], url: hill_climbs_path(@hill), method: :post do |f| %>
          <%= f.input :year, as: :integer %>
          <%#= f.input :hill_id, as: :hidden, input_html: { value: hill.id } %>
          <%= f.button :submit %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
