<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= image_tag("home-image.svg", height: '25px', class: 'mr-3') %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Map', hills_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'My Climbs', climbs_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user %>
            <%= current_user.username %>
          <% else %>
            Log in
          <% end %>
        </a>
        <% if current_user %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">My Profile</a>
            <div class="dropdown-divider"></div>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        <% else %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Log in', user_session_path, class: 'dropdown-item' %>
            <%= link_to 'Sign up', new_user_registration_path, class: 'dropdown-item' %>
          </div>
        <% end %>
      </li>
    </ul>
    <%= form_tag hills_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
      <%= text_field_tag :navquery,
        params[:navquery],
        class: "form-control mr-sm-2",
        placeholder: "Search"
      %>
      <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>
  </div>
</nav>
